@page "/{*page}"

@if (found is null)
{
    <div>Loading...</div>
}
else if (found is false)
{
    <div>Not Found !</div>
}
else
{
    @((MarkupString)content)
} 

@code
{
    [Parameter] public string? page { get; set; }

    [Inject] public IMarkdownContentProvider MarkdownContentProvider { get; set; }

    private string? content = null;
    private bool? found { get; set; } = null;

    protected override async Task OnParametersSetAsync()
    {
        page = page switch
        {
            @* null => "index", *@
            string _ when page.Contains('#') => page[..page.IndexOf('#')],
            _ => page
        };
     
        if (string.IsNullOrEmpty(page))
            return;

        found = null;

        var markdown = await MarkdownContentProvider.GetMarkdownContent(page);

        if (markdown is not null)
        {
            content = markdown;
            found = true;
        }
        else
        {
            found = false;
        }
    }
}